.nav {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #E5E9F2;
    height: 100vh;
    transition: height 0.25s ease-in-out 0s;
    align-items: center;
    grid-area: nav;
}

.menu {
    display: block;
    width: 100%;
    height: max-content;
}

.navbar__link {
    display: block;
    padding: 20px;
    text-align: center;
    margin: 20px -15px 20px 0;
    border-radius: 5px;

}

.navbar__link i {
    color: #B8C5D3;
}

.navbar__link--active {
    transition: all 0.3s ease;
    background: linear-gradient(180deg, #679CF6 0%, #4072EE 100%);
    box-shadow: 0px 5px 15px #ACB2C1;
}

.navbar__link--active i {
    color: #fff;
}